asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi
cffi==1.15.1
Django==4.0.5
django-crispy-forms==1.14.0
django-phonenumber-field==6.3.0
django-widget-tweaks==1.4.12
phonenumbers==8.12.51
Pillow==9.2.0
pycparser==2.19
six==1.12.0
sqlparse==0.4.2
tinycss2==1.0.1
tzdata==2022.1
urllib3==1.24.1
webencodings==0.5.1
wincertstore==0.2
